*{ 
	margin:0px;
	padding: 0px;
}
body{
	background-image: url("../IMAGENS/fundo01.JPG");
	background-size: 2000px;
	background-position: 80% 40%;
	color: white;
	font-family: arial;
}
input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
}

div#corpo-form{
	/*background-color: orange;*/
	width: 420px;
	margin: 150px auto 0px auto;
}
div#corpo-form h1{
	text-align: center;
	padding: 20px;
}
a{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}
a:hover{
	text-decoration: underline;
}